* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFF;
    background-size: cover;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.navigation_bar{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 3px 0.1px black;
    z-index: 99999;
}

.navigation_bar p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: rgb(0,153,153);
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

.navigation_bar p span {
    padding: 0px 5px;
}

.navigation_bar ul{
    float: right;
    padding-right: 90px;
}

.navigation_bar ul li {
    float: left;
    list-style: none;
    position: relative;
}

.navigation_bar ul li a{
    display: block;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #222;
    font-size: 14px;
    padding: 20px 14px;
    text-decoration: none;
}

.navigation_bar ul li ul{
    display: none;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    padding: 5px;
    margin-top:1px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1000;
}

.navigation_bar ul li:hover ul{
    display: block;
}

.navigation_bar ul li ul li{
    width: 120px;
    border-radius: 4px;
}

.navigation_bar ul li ul li a{
    padding: 10px 14px;
}

.navigation_bar ul li ul li a:hover{
    background-color: #f3f3f3;
}

#home{
    color: rgb(0, 153, 153);
}

#myVideo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.selectable:hover{
    color: red !important;
}

#arrow_down{
    width: 10px;
    height: : 10px;
    margin-left: 3px;
}

header{
    width: 100;
    height:100vh;
}

header .main_box{
    width: 100vw;
    height: auto;
    text-align: center;
}

.title{
    width: 100vw;
    z-index: -50;
    position: fixed;
    font-size: 120px;
    top: 30vh;
    color: rgba(0,153,153,0.5);
}

.subtitle{
    font-size: 60px;
    top: 50vh;
}

.fixed_btn{
    z-index: -50;
    position: fixed;
    top: 65vh;
}

.form_button{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgba(0,153,153,0.5);
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
    width:20vw;
    left: 40vw;
}

.form_button:hover{
    background: rgb(13, 91, 91);
}


.main_grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: auto;
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-template-areas:
    "a a a a a a a a"
    "b b b b c c c c"
    "d d d d e e e e"
    "f f f f f f f f";
    align-items: center;
    background-color: white;
}

.question_box{
    grid-area: a;
    background-color: rgb(0,153,153);
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color: white;
    font-weight: 500;
    line-height: 80px;

}

#question {
    line-height: 2;
    font-size: 70px;
    padding-bottom: 50px;
}

.people_box{
    grid-area: b;
    background-color: white;

}

.people_box img{
    width: 75%;
    height: auto;
    padding: 50px 0px;
    display: block;
    margin:auto;
}

.prom_box{
    grid-area:c;
    text-align:justify;
    padding-left: 0px;
    padding-right: 180px;
}

.prom_box h2{
    line-height: 50px;
}

.prom_box h1{
    line-height: 100px;
    font-size: 50px;
}

.explanation_box{
    grid-area:d;
    background-color: #393838;
    text-align: center;
    height: 400px;
    padding-top: 30px;
    color: white;
}

.explanation_box h2{
    font-size: 40px;
}

.macbook_box{
    grid-area:e;
    background-color: #393838;
    height: 400px;
}

.macbook_box img{
    padding-top: 40px;
    width: auto;
    height: auto;
    max-height: 360px;
    max-width: 560px;
    display: block;
    margin:auto;
}

.slideshow {
  grid-area: f;
  height: 250px;
  display: block;
  position: relative;
}

.slideshow img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
}
#f2 {
    -webkit-animation-delay: -8s;

}
#f3 {
    -webkit-animation-delay: -4s;

}

#form_logout{
    padding-left: 3.3em;
    padding-bottom: 0.5em;
}

#profile_form{
    text-align: center;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
}

#menu_icons{
    color: black;
}

#menu_icons:focus, #menu_icons:hover{
    color: red;
}

#logged_body{
    background: url(../images/templates/To_Do_List.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background-attachment: fixed;
}

.background_Box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 100%;
    padding: 80px 33px 0px 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,.9);
}

.h2_centered{
    text-align: center;
}

.profile_img{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#profile_bottom{
    opacity: 0;
}

#profile_bottom:hover{
    opacity: 1;
}


#imageUpload
{
    display: none;

}

.profile_text_Box{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    float: rigth;
}

.left_box {
    width: 50%;
    height: 95%;
    float: left;
    align-items: center;
    position:relative;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid black;
}

.right_box {
    width: 50%;
    height: 95%;
    padding-top: 1.5%;
    background-color: rgba(255,255,255,0.7);
    float: left;
    border: 1px solid black;
    border-left: none;
    position: relative;
}

.profile_form{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
}

.profile_form input{
    margin-bottom: 35px;
    border: 0 none;
    outline: 0;
    border-top: 0;
    border-bottom: 1px solid black;
    width: 100%;
    background: transparent;
    font-size: 16px;
}

.bold_text{
    font-weight: bold;
}

.profile_label{
    font-size: 27px;
    color: rgb(0,153, 153);
}

.btn_hidden{
    visibility:hidden;
}

.profile_button{
    border-radius: 0;
    position: absolute;
    border: 1px solid black;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 10vw;
    top: calc(100% - 39px);
    color: black;
}

.profile_button:hover{
    color: white;
}

.save{
    left: 25%;
    background: #33FF99;
}
.save:hover{
    background: #00994C;
}

.cancel{
    border-left: none;
    background: #FF6666;
    left: calc(25% + 10vw);
}

.cancel:hover{
    background: #CC0000;
}

.btn_profile{
    font-size: 25px;
    width: 40px;
    height: 40px;
    position: absolute;
}

.div_btns{
    margin-top: 5%;
    align-items: center;
    width: 100%;
    position:relative;
    align-items: center;
}

#btn_1{
    left: calc(50% - 60px - 2%);
    background: #33FF99;
    color: black;
    visibility: hidden;
}

#btn_1:hover{
    background: #00994C;
    color: white;
}

#btn_2{
    left: calc(50% - 20px);
    background: #A9A9A9;
    color: black;
}

#btn_2:hover{
    background: #696969;
    color: white;
}


#btn_3{
    left: calc(50% + 20px + 2%);
    background: #FF6666;
    color: black;
    visibility: hidden;
}

#btn_3:hover{
    background: #CC0000;
    color: white;
}

#btn_4{
    left: calc(50% - 20px);
    background: #33FF99;
    color: black;
}

#btn_4:hover{
    background: #00994C;
    color: white;
}

#btn_5{
    left: calc(50% - 20px);
    background: #FF6666;
    color: black;
}

#btn_5:hover{
    background: #CC0000;
    color: white;
}

#btn_6{
    left: calc(50% - 20px);
    background: #A9A9A9;
    color: black;
}

#btn_6:hover{
    background: #696969;
    color: white;
}

.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon svg{
    width: 100%;
    height: 100%;
    text-align: center;
}

footer{
    color: white;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.div_footer{
    display: block;
    width: 100%;
    height: 400px;
    float: left;
    background-color: rgb(0,153,153);
    text-align: center;
    padding-top: 50px;
}

.div_footer h2{
    font-size: 30px;
    font-weight: 500;
}

.div_footer span{
    font-size: 40px;
}

.div_footer p{
    line-height: 40px;
}

.div_footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.list_selector{
    background: rgb(0,153,153);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 62px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    z-index: 9999;

}

.select_type{
    background-color: rgb(0,153,153);
    text-align: center;
}

.select_order{
    border-left: 3px solid black;
    text-align: center;
}

.form_list{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.display_lists_grid{
    display: grid;
    margin-top: 40px;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.add img{
    width: 100%;
    height: 100%;
}

#listID{
    display: none;
}

.scrollable_div{
    overflow-y: scroll;
    height: 100%;
    padding-right: 10px;
}

.zoom_background{
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
}

.zoom_box{
    z-index: 10000;
    position: absolute;
    display: block;
    left: 25vw!important;
    top: 15vh !important;
    width: 50vw !important;
    height: 70vh !important;
    color: white;
    overflow-y: scroll;
}

.zoom_box h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px !important;
}

.zoom_box p{
    margin-left: 20%;
    padding-bottom: 1em;
}

.zoom_box form{
    margin-left: 20%;
    padding-bottom: 1em;
}

.input_text_box{
    width: 50%;
    height: 150px;
    margin-left: 25%;
    padding: 2px;
    border: 2px solid #f8f8f8;
    resize: none;
}

.zoom_box_button{
    width: 10%;
    margin-left: 25%;
}

.input_checklist_box{
    width: 50%;
    height: 23px;
    margin-left: 0%;
    margin-bottom: 2px;
    margin-right: 3px;
    padding: 2px;
    border: 2px solid #f8f8f8;
}

.checklist_item_box p{
    margin-left: 25%;
    padding-bottom: 0px;
}

.add_checkbox_item_button{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.add_photo_item_button{
    width: 10%;
    margin-left: 20%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.inside_list{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.list{
    border: 1px solid black;
    /*box-shadow: 7px 7px rgba(94, 94, 94, 0.65);*/
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}

.centered_in_box{
    text-align: center;
    padding-top: 40%;
}

.centered_bottom_box{
    position: absolute;
    top: 80%;
    font-size: 20px;
    width: 100%;
    left: 0;
    text-align: center;
}


.inside_list h1{
    text-align: center;
}

.inside_list span{
    font-weight: bolder;
    font-size: 20px;
}

.inside_list .details_message{
    width: 100%;
    text-align: center;
    font-size: 17px;
    text-decoration: underline;
}

.zoom_box {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 125%;
}

.zoom_box span{
    font-weight: bold;

}

.zoom_box input[type=checkbox]{
    margin-right: 10px;
    transform: scale(1.5);
}

.content_checking label{
    padding: 2px;
    position: relative;
    outline: none;
    display: inline-block;
    width: 70%;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    color: black;
    font-size: 16px;
}

.time{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.time_remaining{
    color: #88e670;
}

.time_late{
    color: #f4706c;
}

.trash_icon{
    position: fixed;
    top: 75%;
    left: 70%;
}
