html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    color: rgb(0,153,153);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: forestgreen;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/templates/header.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight:600;
    -webkit-text-fill-color: rgba(0,153,153,.7);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.9px;

}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    -webkit-text-fill-color: rgba(255,255,255,0.7);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.9px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        font-size: 120px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 40px;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro {
    color: #fff;
    background-color: rgb(0,153,153);
    padding: 70px 0;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.content-2 {
    color: #fff;
    background-color: #222;
}

.content-3 {
    padding: 20px 0 40px;
    text-align: center;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
    text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%;
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.item-1 {
    background: url('../images/templates/reminder.png');
}

.item-2 {
    background: url('../images/templates/checklist.png');
}

.item-3 {
    background: url('../images/templates/photolist.png');
}

.item-1,
.item-2,
.item-3 {
    background-size: cover;
    background-position: 50% 50%;
}

.page-footer {
    text-align: center;
}

.page-footer .contact {
    padding: 50px 0;
    background-color: rgb(0,153,153);
    color: #fff;
}

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
}

.page-footer a {
    color: white;
}

.text-light {
    color: rgba(255,255,255,.7);
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: rgb(0,153,153);
    color: #fff;
    background-color: rgb(0,153,153);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: rgb(0,102,102);
    color: #fff;
    background-color: rgb(0,102,102);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: rgb(0,153,153);
    background-color: rgb(0,153,153);
}

.btn-primary .badge {
    color: rgb(0,153,153);
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: rgb(0,153,153);
}

.bg-primary {
    background-color: rgb(0,153,153);
}

#question1 {
    line-height: 2;
    font-size:  50px;
}


#par_question{
    font-size: 40px;
}

#form_logout{
    padding-left: 3.3em;
    padding-bottom: 0.5em;
}

#profile_form{
    text-align: center;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
}

#menu_icons{
    color: black;
}

#menu_icons:focus, #menu_icons:hover{
    color: red;
}

#logged_body{
    background: url(../images/templates/To_Do_List.png);
    background-size: cover;
}

.background_Box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,.9);
}

.h2_centered{
    text-align: center;
}

.profile_img{
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
    position: absolute;
    /*margin-top: 5%;*/
    /*left: 25%;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#profile_bottom{
    opacity: 0;
}

#profile_bottom:hover{
    opacity: 1;
}


#imageUpload
{
    display: none;

}


.profile_text_Box{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    float: rigth;
}

.left_box {
    width: 50%;
    height: 100%;
    float: left;
    align-items: center;
    position:relative;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid black;
}

.right_box {
    width: 50%;
    height: 100%;
    padding-top: 1.5%;
    background-color: rgba(255,255,255,0.7);
    float: left;
    border: 1px solid black;
    border-left: none;
    position: relative;
}

.profile_form{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
}

.profile_form input{
    margin-bottom: 35px;
    border: 0 none;
    outline: 0;
    border-top: 0;
    border-bottom: 1px solid black;
    width: 100%;
    background: transparent;
}

.bold_text{
    font-weight: bold;
}

.profile_label{
    font-size: 27px;
    color: rgb(0,153, 153);
}

.btn_hidden{
    visibility:hidden;
}

.profile_button{
    border-radius: 0;
    position: absolute;
    border: 1px solid black;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 10vw;
    top: calc(100% - 39px);
    color: black;
}

.profile_button:hover{
    color: white;
}

.save{
    left: 25%;
    background: #33FF99;
}
.save:hover{
    background: #00994C;
}

.cancel{
    border-left: none;
    background: #FF6666;
    left: calc(25% + 10vw);
}

.cancel:hover{
    background: #CC0000;
}

.btn_profile{
    font-size: 25px;
    width: 40px;
    height: 40px;
    position: absolute;
}

.div_btns{
    margin-top: 5%;
    align-items: center;
    width: 100%;
    position:relative;
    align-items: center;
}

#btn_1{
    left: calc(50% - 60px - 2%);
    background: #33FF99;
    color: black;
    visibility: hidden;
}

#btn_1:hover{
    background: #00994C;
    color: white;
}

#btn_2{
    left: calc(50% - 20px);
    background: #A9A9A9;
    color: black;
}

#btn_2:hover{
    background: #696969;
    color: white;
}

#btn_3{
    left: calc(50% + 20px + 2%);
    background: #FF6666;
    color: black;
    visibility: hidden;
}

#btn_3:hover{
    background: #CC0000;
    color: white;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon svg{
  width: 95%;
  height: 95%;
}

.navigation_bar{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 3px 0.1px black;
    z-index: 999;
}

.navigation_bar p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: rgb(0,153,153);
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

.navigation_bar p span {
    padding: 0px 5px;
}

.navigation_bar ul{
    float: right;
    padding-right: 90px;
}

.navigation_bar ul li {
    float: left;
    list-style: none;
    position: relative;
}

.navigation_bar ul li a{
    display: block;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #222;
    font-size: 14px;
    padding: 20px 14px;
    text-decoration: none;
}

.navigation_bar ul li ul{
    display: none;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1000;
}

.navigation_bar ul li:hover ul{
    display: block;
}

.navigation_bar ul li ul li{
    width: 120px;
    border-radius: 4px;
}

.navigation_bar ul li ul li a{
    padding: 10px 14px;
}

.navigation_bar ul li ul li a:hover{
    background-color: #f3f3f3;
}

#home{
    color: rgb(0, 153, 153);
}

.selectable:hover{
    color: red !important;
}

#arrow_down{
    width: 10px;
    height: : 10px;
    margin-left: 3px;
}
