body{
    margin: 0;
    padding: 0;
    background: url(../images/To_Do_List.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    text-align: center;
}

.registerBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    text-align: center;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-120px/2);
    left: calc(50% - 60px);

}

h2{
    margin: 0;
    padding: 0 0 20px;
    color: white;
    text-align: center;
}

.loginBox p,
.registerBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,.5);
}

.loginBox input,
.registerBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.registerBox input[type="text"],
.loginBox input[type="password"],
.registerBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,0.5);
}

.loginBox input[type="submit"],
.registerBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgb(0,153,153);
    cursor: pointer;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover,
.registerBox input[type="submit"]:hover{
    background: rgb(0,102,102);

}

.loginBox a,
.registerBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    align-content: center;
    text-decoration: none;
}

#error {
    color: #FF6666;
    transform: translate(55%, -600%);
}

#error1 {
    color: #FF6666;
    transform: translate(55%, -275%);
}
